*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   
}
.banner{
    
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}




.fondo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#222222;
    height: 100vh;
   
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 5em;
    
    margin-bottom: 12em;
}
.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 90vw;
    margin-top: 10em;
    
    align-items: center;
}
.data h1{
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    font-size: 25px; 
    font-weight: lighter;
    width: 100%;
}

.buttons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.arrow{
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #14e956;
    border-color: #14e956;
    animation: arrow 0.75s ease both;
}
.profile{
    
    width: 200px;
    height: 200px;
    
    margin-top: 20px;
    
}

.estudios-content{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}
.estudios-content ul{
    width: 60%;
}
li{
    margin-top: 15px;
    margin-bottom: 10px;
}


@media(min-width: 1024px){
    .data{
        width: 100%;
        height: 12em;
    }
    .data h1{
        font-size: 35px;
        
    }
    .data p{
        font-size: 25px;
        
    }
    .buttons{
        display: flex;
        justify-content: center;
      
    }
    .arrow{
        font-size: 20px;
    }

}



@keyframes arrow {
    from {
        transform: translateY(-15px);   
    }
    to {
         transform: translateY(0px);   
    }
}
